table, th, td {
    border: .5px solid black;
}

table {
    border-spacing: 0px;
    margin: auto;
}

th, td {
    padding: 1rem;
}

h1 {
    text-align: center;
}

fieldset {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    /* border: 1px solid brown; */
    padding: 1rem;
}

legend {
    text-align: center;
}

